# Build directories
out/
build/
cmake-build-*/

# Visual Studio
.vs/
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
*.sln
*.suo
*.user

# VS Code
.vscode/

# Compiled files
*.exe
*.obj
*.o
*.pdb
*.ilk
*.idb
*.dll
*.lib
*.exp

# CMake
CMakeCache.txt
CMakeFiles/
cmake_install.cmake

# Temporary files
*.tmp
*.log
*.cache